section::after {
    content: "";
    width: 100vw;
    height: 1px;
    background-color: black;
    position: absolute;
}

a::after {
    content: 'Best channel ever';
    width: auto;
    display: block;
    color: red;
    text-decoration: underline;
}

a::before {
    content: 'Best channel ever';
    width: auto;
    display: block;
    color: red;
    text-decoration: underline;
}

i p::before {
    content: '*';
}

h1::before {
    content: '😋';
}

h2::before {
    content: '😋';
}

h3::before {
    content: '😋';
}

.button_one:hover::before {
    content: '-->';
}

.button_two::before {
    content: '😋';
}