a::after {
    content: 'Best channel ever';
    width: auto;
    display: block;
    color: red;
    text-decoration: underline;
}

a::before { /*//*/
    content: 'Best channel ever';
    width: auto;
    display: block;
    color: red;
    text-decoration: underline;
}