:root {
    --color-primary: black;
    --color-secondary: white;
    --color-tertiary: gray;
    --color-quaternary: rgb(154, 0, 0);
    --size-primary: 80px;
    --width-primary: 300px;
    --height-primary: 320px;
}

* {
    margin: 0;
    padding: 0;
}

.nav__logo {
    width: var(--size-primary);
    height: var(--size-primary);
}
.nav__icon {
}
.korting {
    background-color: var(--color-tertiary);
}
h3 {
    font-weight: normal;
}
h4 {
    font-weight: normal;
}
.card__image {
    width: var(--width-primary);
    height: var(--height-primary);
}
.card__name {
    font-weight: normal;
}
.card__extra {
    color: var(--color-tertiary);
}
.card__extra--red {
    color: var(--color-quaternary);
}
.footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}
.footer__left {
    display: flex;
}
.footer__left__copyright {
    color: var(--color-tertiary);
}